/* Reset some default styling */
* {
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box !important;
}

body,
html {
    height: 100% !important;
    display: flex !important;
    flex-direction: column !important;
    color: white !important;
    background-color: black !important;
}

.container {
    display: flex !important;
    height: 100vh !important;
}

/* Left Sidebar */
#left-sidebar {
    width: 20% !important;
    /* Adjust the width as needed */
    background-color: #1e1f29 !important;
    /* Original background color */
    padding: 20px !important;
    text-align: center !important;
}

#left-sidebar h3 {
    margin-bottom: 15px !important;
}

#left-sidebar button {
    width: 100% !important;
    padding: 10px !important;
    margin: 5px 0 !important;
    font-size: 1em !important;
    cursor: pointer !important;
    background-color: #3d2486 !important;
    color: white !important;
    /* Original button color */
    border: none !important;
    border-radius: 5px !important;
    transition: background-color 0.3s ease !important;
}

#left-sidebar button:hover {
    background-color: #0056b3 !important;
    /* Original hover color */
}

/* Main Content Area */
#content {
    width: 60% !important;
    /* Adjust the width as needed */
    padding: 20px !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    /* Centers vertically */
    align-items: center !important;
    /* Centers horizontally */
    overflow-y: auto !important;
}

/* Right Sidebar */
#right-sidebar {
    width: 20% !important;
    /* Adjust the width as needed */
    background-color: #1e1f29 !important;
    /* Original background color */
    padding: 20px !important;
    text-align: center !important;
}

/* Footer */
footer {
    text-align: center !important;
    padding: 10px !important;
    background-color: #3d2486 !important;
    /* Original footer background color */
    color: #fff !important;
    /* Original footer text color */
    position: relative !important;
    bottom: 0 !important;
    width: 100% !important;
}




input[type="submit"],
button[type="submit"] {
    background-color: #3d2486 !important;
    /* Button background color */
    color: white !important;
    /* Button text color */
    padding: 10px 20px !important;
    /* Padding for the button */
    font-size: 1em !important;
    border: none !important;
    border-radius: 5px !important;
    cursor: pointer !important;
    transition: background-color 0.3s ease !important;
}

input[type="submit"]:hover,
button[type="submit"]:hover {
    background-color: #0056b3 !important;
    /* Hover color */
}